@media (max-width: 995px) {
    .preText-img{
        margin-left: 10%;
    }
    .overall{
        display: block;
    }
    .body, .set{
        width: 33%;
        height: 93vh;
    }
    .body{
        width: 35%;
    }
    .preText img{
        margin-left: 10%;
    }
    .text{
        font-size: 17px;
    }
    .body2{
        width: 35%;
        height: 53vh;
    }
    .set{
        left: 33%;
        top: 22px;
        height: 91vh;
    }
    .container{
        width: 45%;
        height: 35vh;
    }
    .container h1{
        font-size: 34px;
        margin-top: 10px;
    }
    .container footer{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        margin-top: 30px;
    }
    .container marquee{
        margin-top: 20px;
        font-size: 15px;
    }
}

/* phone screens*/

@media (max-width: 830px) {
    .body{
        width: 50%;
    }
    .set{
        width: 48%;
        left: 25%;
    }
    .body2{
        width: 45%;
    }
    .sign-in{
        width: 55%;
        height: 45vh;
        padding-top: 30px;
    }
    #password, #text{
        width: 70%;
    }
    .sign-in label{
        margin-top: 10px;
        font-size: 24px;
    }
    #button{
        padding: 9px 19px;
        font-size: 20px;
    }
    .container {
        width: 60%;     
        height: 40vh;   
    }
    .container footer{
        margin-top: 35px;
        font-size: 15px;
    }
}

@media (max-width: 605px) {
    .body{
        width: 57%;
    }
    .set{
        width: 55%;
        left: 22%;
    }
    .body2{
        width: 55%;
    }
    .container{
        width: 65%;
        height: 40vh;
    }
    .container h1{
        font-size: 27px;
    }
    .container footer{
        font-size: 13px;
    }
}

@media (max-width:470px) {
    .body{
        width: 90%;
        height: 98vh;
    }
    .body2{
        width: 90%;
    }
    .set{
        width: 90%;
        left: 0;
        top: 0;
        height: 98vh;
    }
}

@media (max-width: 320px) {
    .body{
        width: 100%;
    }
    .body2{
        width: 100%;
    }
    .preText-img{
        width: 50%;
    }
}